<div [@routeAnimation]="state" class="player">
	<div class="date-select">
		<div class="player-button">
			<input nz-input placeholder="请输入玩家ID" style=" width:33%" [(ngModel)]="input">
			<button nz-button nzType="default" (click)="search()"><i class="anticon anticon-search"></i>搜索</button>
		</div>
	</div>
	<div class="player-list-box">
		<div class="player-list-header">
			<div>角色ID</div>
			<div>昵称</div>
			<!-- <div>当日流水</div> -->
			<div>注册日期</div>
			<!-- <div>最后登陆时间</div> -->
		</div>
		<div>
			<nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="show" class="skeleton">
				<div class="player-item" *ngFor="let player of players">
					<div>{{player.id}}</div>
					<div>{{player.game_nick}}</div>
					<!-- <div>{{0.00}}</div> -->
					<div>{{format(player.regin_time * 1000)}}</div>
				</div>
			</nz-skeleton>
		</div>
		<div class="player-list-footer">
			<nz-button-group>
				<button nz-button nzType="default" [disabled]="!less" (click)="prev()"><i class="anticon anticon-left"></i>上一页</button>
				<label nz-radio-button nzType="primary" nzValue="default">{{currentPage}}/{{ allowPage }}</label>
				<button nz-button nzType="default" [disabled]="!more" (click)="next()">下一页<i class="anticon anticon-right"></i></button>
			</nz-button-group>
		</div>
	</div>
</div>